<div class="navbar">
  <div *ngFor="let item of items">
    <a class="nav-link" [href]="item">{{ item }}</a>
  </div>

  @for (item of items; track item){

  <a class="nav-link" [href]="item">New loop: {{ item }}</a>

  }

  <button (click)="addNewItem()">Add Item</button>

  <p *ngIf="items.length > 0">Items: {{ items }}</p>

  <!-- // this is the newer method for conditionals  -->
  @if(items.length > 0) {
  <p>Another Item list: {{ items }}</p>

  }

  <p>Count: {{ counter.count }}</p>
  <button (click)="counter.increment()">Increment</button>
</div>
