<div>
  <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">
    <!-- <input [attr.data-testid]="'test-id'" type="text" /> -->
    <div class="input-container">
      <label for="name">Name</label>
      <input type="text" formControlName="name" />
    </div>

    <div class="input-container">
      <label for="name">User name</label>
      <input type="text" formControlName="userName" />
    </div>

    <div class="input-container">
      <label for="name">City</label>
      <input type="text" formControlName="city" />
    </div>

    <div class="input-container">
      <label for="name">State</label>

      <input type="text" formControlName="state" />
    </div>
    <div class="input-container">
      <label for="name">Agree to terms?</label>

      <div>
        <input type="radio" formControlName="hasAgreed" value="true" />Yes
        <input type="radio" formControlName="hasAgreed" value="false" />No
      </div>
    </div>

    <div>
      <button type="button" (click)="handleInputOnChange()">Click me</button>
      {{ message }}
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
