<main class="main">
  <div class="content">
    <div>
      <p>Count: {{ counter.count() }}</p>
      <button (click)="counter.increment()">Increment</button>
      <p>Double Count: {{ counter.doubleCount() }}</p>
      <input type="number" (input)="counter.incrementChosenNumber($event)" />
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    <h1>Deferable views</h1>
    @defer (on viewport) {
    <div>
      <p>Form:</p>
      <appForm />
    </div>
    } @placeholder {
    <p>Future comments</p>
    } @loading (minimum 2s) {
    <p>Loading comments...</p>
    } @if (isServerRunning) {
    <app-navbar />
    } @else {
    <p>Server is not running</p>
    }
  </div>
</main>

<router-outlet />
